@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    min-width:100vw;
    min-height:100vh;
    background-color: #050505;
    color: #fff;
    overflow-x: hidden;
}
@media screen and (max-width: 768px){
    body{
        overflow-x: auto;
    }
}
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
::-webkit-scrollbar * {
    background: transparent;
  }
::-webkit-scrollbar-thumb {
    background-color: #929292 !important;
    border-radius: 25px;
  }